:host {
  padding: 2rem 0 2rem 0;
  .section {
    padding: 0 2rem 0 2rem;
    margin-bottom: 2rem;
    &.title-section {
      display: flex;
      h2 {
        flex: 1;
        margin: 0;
      }
      .recurrent-container {
        display: flex;
        align-items: center;
        margin-top: -0.2rem;
        ion-toggle {
          padding-right: 0;
        }
      }
    }
  }
  .days {
    background-color: var(--ion-color-primary-tint);
    padding: 1rem 0 0 0;
    margin-bottom: 2rem;
    h5 {
      margin: 0.5rem 2rem 1rem 2rem;
      color: var(--ion-color-tertiary);
    }
    .week-days {
      width: 100%;
      overflow-x: auto;
      padding-bottom: 1rem;
    }
  }
}
