<div
  class="container"
  modal-default-content
  [formGroup]="scheduleForm"
  (buttonClicked)="closeModal($event)"
>
  <div class="section title-section">
    <h2>Crea un corso</h2>
    <div class="recurrent-container">
      <ion-label>Ricorrente</ion-label>
      <ion-toggle
        mode="md"
        color="tertiary"
        (ionChange)="isRecurrent = $event.detail.checked"
      ></ion-toggle>
    </div>
  </div>
  <div class="section">
    <div class="input-container">
      <app-input
        formControlName="name"
        type="text"
        placeholder="Nome del corso"
        name="name"
        icon="person-circle-outline"
      ></app-input>
    </div>
    <div class="input-container">
      <app-input
        formControlName="description"
        placeholder="Descrizione"
        name="description"
        icon="text-outline"
        [multiline]="true"
      ></app-input>
    </div>
  </div>
  <div class="days" *ngIf="isRecurrent">
    <h5>Giorni</h5>
    <div class="week-days">
      <app-week-day-selector></app-week-day-selector>
    </div>
  </div>
  <div class="section">
    <app-input
      formControlName="time"
      placeholder="Orario"
      name="time"
      type="time"
      icon="time-outline"
    ></app-input>
  </div>
</div>
