<div
  class="container"
  modal-default-content
  [formGroup]="scheduleForm"
  [cancelButton]="{
    title: 'Annulla',
    fill: false,
    type: 'tertiary'
  }"
  [successButton]="{
    title: 'Salva',
    fill: true,
    type: 'tertiary'
  }"
  [successDisabled]="!scheduleForm.valid"
  (closeModalEvent)="closeModal($event)"
>
  <div class="section title-section">
    <h2>Crea un corso</h2>
    <div class="recurrent-container">
      <ion-label>Ricorrente</ion-label>
      <ion-toggle
        mode="md"
        color="tertiary"
        (ionChange)="isRecurrent = $event.detail.checked"
      ></ion-toggle>
    </div>
  </div>
  <div class="section">
    <app-form-field
      formControlName="name"
      type="text"
      placeholder="Nome del corso"
      name="name"
      icon="person-circle-outline"
    ></app-form-field>
    <app-form-field
      formControlName="description"
      placeholder="Descrizione"
      name="description"
      icon="text-outline"
      [multiline]="true"
    ></app-form-field>
    <app-form-field
      formControlName="startDate"
      [placeholder]="isRecurrent ? 'Data' : 'Dal'"
      [value]="currentDate"
      name="startDate"
      type="datetime"
      [fieldOptions]="{
        format: 'DD/MM/YYYY'
      }"
      icon="calendar-outline"
    ></app-form-field>
    <app-form-field
      *ngIf="isRecurrent"
      formControlName="endDate"
      placeholder="Al"
      [value]="nextWeekDate"
      name="endDate"
      type="datetime"
      [fieldOptions]="{
        format: 'DD/MM/YYYY'
      }"
      icon="calendar-outline"
    ></app-form-field>
    <app-form-field
      formControlName="time"
      placeholder="Orario"
      name="time"
      type="datetime"
      [fieldOptions]="{
        format: 'HH:mm'
      }"
      icon="time-outline"
    ></app-form-field>
  </div>
  <div class="days" *ngIf="isRecurrent">
    <h5>Giorni</h5>
    <div class="week-days">
      <app-week-day-selector></app-week-day-selector>
    </div>
  </div>
</div>
