<div #generalContainer>
  <div
    class="form-container"
    modal-default-content
    [formGroup]="scheduleForm"
    [cancelButton]="{
      title: 'Annulla',
      fill: false,
      type: 'tertiary'
    }"
    [successButton]="{
      title: 'Salva',
      fill: true,
      type: 'tertiary'
    }"
    [successDisabled]="!scheduleForm.valid"
    (closeModalEvent)="closeModal($event)"
    *ngIf="!showTrainersSearch"
  >
    <div class="title-section">
      <h2>{{ schedule ? 'Modifica' : 'Crea' }} un corso</h2>
      <ion-segment
        (ionChange)="toggleClicked($event)"
        mode="md"
        [value]="isRecurrent"
        *ngIf="!schedule"
      >
        <ion-segment-button [value]="false">
          <ion-label>Singolo</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="true">
          <ion-label>Ricorrente</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="section">
      <app-form-field
        formControlName="name"
        type="text"
        label="Nome del corso"
        placeholder="Crossfit"
        name="name"
        icon="barbell-outline"
      ></app-form-field>
      <app-form-field
        formControlName="description"
        placeholder="Esercizi a corpo libero"
        label="Descrizione"
        name="description"
        icon="text-outline"
        type="textarea"
      ></app-form-field>
      <div class="row">
        <app-form-field
          formControlName="startDate"
          [label]="isRecurrent ? 'Dal' : 'Data'"
          placeholder="dd/MM/yyyy"
          [value]="currentDate"
          name="startDate"
          type="datetime"
          [fieldOptions]="{
            format: 'DD/MM/YYYY'
          }"
          icon="calendar-outline"
        ></app-form-field>
        <app-form-field
          *ngIf="isRecurrent"
          formControlName="endDate"
          label="Al"
          placeholder="DD/MM/YYYY"
          [value]="nextWeekDate"
          name="endDate"
          type="datetime"
          [fieldOptions]="{
            format: 'DD/MM/YYYY'
          }"
          icon="calendar-outline"
        ></app-form-field>
      </div>
      <div class="row">
        <app-form-field
          formControlName="time"
          label="Orario"
          placeholder="HH:mm"
          name="time"
          type="datetime"
          [fieldOptions]="{
            format: 'HH:mm',
            minuteValues: '0,15,30,45'
          }"
          icon="time-outline"
        ></app-form-field>
      </div>
      <div class="row">
        <app-form-field
          formControlName="durationInMinutes"
          label="Durata"
          placeholder="60"
          name="durationInMinutes"
          type="info"
          [fieldOptions]="{
            info: 'min',
            inputType: 'number'
          }"
          icon="timer-outline"
        ></app-form-field>
        <app-form-field
          formControlName="participantsMaxNumber"
          label="Membri"
          placeholder="50"
          name="participantsMaxNumber"
          type="number"
          icon="people-circle-outline"
        ></app-form-field>
      </div>
    </div>
    <div class="other-info-container">
      <ng-container *ngIf="isRecurrent">
        <h5>Giorni</h5>
        <div class="scroll-container">
          <app-week-day-selector
            formControlName="days"
            [weekDaysLocalization]="[
              'lun',
              'mar',
              'mer',
              'gio',
              'ven',
              'sab',
              'dom'
            ]"
          ></app-week-day-selector>
        </div>
      </ng-container>
      <h5>Allenatore</h5>
      <div class="scroll-container">
        <app-user-selector
          [users]="trainers"
          formControlName="organizerId"
        ></app-user-selector>
      </div>
    </div>
  </div>
</div>
