@import 'mixins';
ion-card {
  margin: 1.5rem 0 0 0;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow: inherit;
  .time-and-people {
    right: -0.25rem;
    bottom: -0.25rem;
    position: absolute;
    @include default-gradient(
      'background',
      var(--ion-color-tertiary),
      var(--ion-color-tertiary-tint)
    );
    color: var(--ion-color-dark);
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem;
    .time-icon {
      margin-right: 0.25rem;
    }
    .time-value {
      margin-right: 0.5rem;
      margin-top: 1px;
    }
    .partecipants-icon {
      margin-right: 0.25rem;
    }
    .partecipants-value {
      margin-top: 1px;
    }
  }
  .top-label {
    right: -0.25rem;
    top: 0.25rem;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    ion-icon {
      margin-right: 0.25rem;
      margin-top: -2px;
    }
    &.booked-places {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
      z-index: 100;
    }
    &.is-booked {
      background-color: var(--ion-color-success);
      color: var(--ion-color-success-contrast);
    }
  }
  .action-buttons-container {
    position: absolute;
    display: flex;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    div {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0;
      gap: 0.75rem;
      padding: 0.75rem;
      font-size: 1.25rem;
      justify-content: center;
      align-items: center;
      &.edit-button {
        border-radius: 8px 0 0 0;
        color: var(--ion-color-primary-contrast);
        @include default-gradient(
          'background',
          var(--ion-color-primary-tint),
          var(--ion-color-primary-shade)
        );
      }
      &.delete-button {
        border-radius: 0 8px 0 0;
        color: var(--ion-color-danger-contrast);
        @include default-gradient(
          'background',
          var(--ion-color-danger-tint),
          var(--ion-color-danger-shade)
        );
      }
      &.book-button {
        border-radius: 8px 8px 0 0;
        color: var(--ion-color-primary-contrast);
        @include default-gradient(
          'background',
          var(--ion-color-primary-tint),
          var(--ion-color-primary-shade)
        );
      }
      &.unbook-button {
        border-radius: 8px 8px 0 0;
        color: var(--ion-color-danger-contrast);
        @include default-gradient(
          'background',
          var(--ion-color-danger-tint),
          var(--ion-color-danger-shade)
        );
      }
    }
  }
  h4 {
    margin-top: 0;
  }
  ion-chip {
    margin: 1rem 0 0 -6px;
    cursor: default;
    --background: transparent;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    color: var(--ion-color-light);
    padding: 1rem;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--ion-color-primary-rgb), 0.85);
    h2 {
      margin-top: 0;
      color: var(--ion-color-tertiary);
    }
  }
}
