<ion-card
  class="ion-activatable"
  (click)="showActionButtons = !showActionButtons"
>
  <ion-ripple-effect></ion-ripple-effect>
  <div class="time-and-people" *ngIf="freeSpots > 0 && isValidDate">
    <ion-icon class="time-icon" name="time-outline"></ion-icon>
    <div class="time-value">{{ time }}</div>
    <ion-icon class="partecipants-icon" name="person-circle-outline"></ion-icon>
    <div class="partecipants-value">x{{ schedule.participantsMaxNumber }}</div>
  </div>
  <div
    class="is-booked top-label"
    *ngIf="isValidDate && mode === 'user' && isBooked"
  >
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <div>Prenotato</div>
  </div>
  <div
    class="booked-places top-label ion-activatable"
    *ngIf="(!isBooked && mode === 'user') || mode === 'admin'"
    (click)="showBookingsClicked($event)"
  >
    <ion-ripple-effect *ngIf="mode === 'admin'"></ion-ripple-effect>
    <div>{{ schedule.bookings.length }} iscritti</div>
  </div>
  <div
    class="action-buttons-container"
    *ngIf="showActionButtons && isValidDate"
  >
    <div
      class="edit-button ion-activatable"
      mode="md"
      (click)="editClicked($event)"
      *ngIf="mode === 'admin'"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="pencil-outline"></ion-icon><span>Modifica</span>
    </div>
    <div
      class="delete-button ion-activatable"
      (click)="deleteClicked($event)"
      *ngIf="mode === 'admin'"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="trash-outline"></ion-icon><span>Elimina</span>
    </div>
    <div
      class="book-button ion-activatable"
      (click)="bookClicked($event)"
      *ngIf="mode === 'user' && !isBooked"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="clipboard-outline"></ion-icon><span>Prenota</span>
    </div>
    <div
      class="unbook-button ion-activatable"
      (click)="unbookClicked($event)"
      *ngIf="mode === 'user' && isBooked"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="close-outline"></ion-icon
      ><span>Rimuovi prenotazione</span>
    </div>
  </div>
  <h4>{{ schedule.name }}</h4>
  <div>{{ schedule.description }}</div>
  <ion-chip class="ion-margin-start">
    <ion-avatar>
      <img src="../../../../assets/images/no-user.jpg" />
    </ion-avatar>
    <ion-label>{{ schedule.organizer.userName }}</ion-label>
  </ion-chip>
  <div
    class="overlay no-places-overlay"
    *ngIf="freeSpots <= 0 && isValidDate && mode === 'user'"
  >
    <h2>Oh no!</h2>
    <span>Non ci sono più posti disponibili per questo corso.</span>
  </div>
  <div class="overlay invalid-date-overlay" *ngIf="!isValidDate">
    <h2>Oh no!</h2>
    <span>Il corso non è più disponibile.</span>
  </div>
</ion-card>
