@import 'mixins';
:host {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 2rem 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @include default-gradient(
    'background',
    var(--ion-color-primary),
    var(--ion-color-primary-tint)
  );
  color: white;
  .toast-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .text {
      flex: 1;
      font-size: 0.75rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    div[loading-icon] {
      transform: scale(0.6);
    }
  }
}
