<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="schedules">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Corsi</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
