@import 'mixins';

ion-content {
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .toolbar {
      --background: 'transparent';
      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        img {
          height: 2rem;
        }
      }
    }
    .content-container {
      flex: 1;
      .datepicker-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        ion-item {
          max-width: 48rem;
          --background: var(--ion-color-primary);
          ion-label {
            --color: var(--ion-color-secondary);
          }
          ion-datetime {
            --placeholder-color: var(--ion-color-light);
            --padding-top: 1rem;
            color: var(--ion-color-light);
          }
        }
        ion-button {
          margin: 0;
        }
      }
      .today-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
      }
      .day-periods {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        column-gap: 6rem;
        margin: 1rem 3rem 4.5rem 3rem;
        @include respond-to('tablet') {
          grid-template-columns: 1fr 1fr;
          margin: 1rem 4rem 4.5rem 4rem;
        }
        @include respond-to('desktop') {
          grid-template-columns: 1fr 1fr 1fr;
          margin: 1rem 4rem 4.5rem 4rem;
        }
        .day-period {
          height: 100%;
          padding-bottom: 3rem;
          h1 {
            color: var(--ion-color-secondary);
            display: flex;
            span {
              flex: 1;
            }
            ion-icon {
              --ionicon-stroke-width: 3rem;
            }
          }
          .courses-container {
            .no-elements {
              color: var(--ion-color-primary-contrast);
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}
