<div class="container" modal-default-content [formGroup]="forgotPasswordForm">    
    <h3>Reset password</h3>
    <div class="subtitle">Hai dimenticato la password? Inserisci la tua mail e ti invieremo un link per reimpostarla.</div>
    <div class="send-email">
      <app-input 
        formControlName="email" 
        [isValid]="forgotPasswordForm.get('email').valid || !this.forgotPasswordForm.get('email').touched" 
        errorMessage="La mail non è valida"
        type="email" 
        placeholder="email" 
        name="email" 
        icon="mail-outline"></app-input>
      <ion-button mode="md">Invia<ion-icon name="paper-plane-outline" slot="start"></ion-icon></ion-button>
    </div>
  </div>