<div class="container" modal-default-content [formGroup]="forgotPasswordForm">
  <div class="text">
    <h3>Reset password</h3>
    <div class="subtitle">
      Hai dimenticato la password? Inserisci la tua mail e ti invieremo un link
      per reimpostarla.
    </div>
  </div>
  <app-input
    formControlName="email"
    errorMessage="La mail non è valida"
    type="email"
    placeholder="email"
    name="email"
    icon="mail-outline"
  >
  </app-input>
  <div class="image-container"></div>
  <ion-button
    mode="md"
    (click)="closeModal('success')"
    [disabled]="forgotPasswordForm.invalid"
    >Invia<ion-icon name="paper-plane-outline" slot="start"></ion-icon>
  </ion-button>
</div>
