@import 'mixins';

.container{
    display: flex;
    flex-direction: column;
    h3{
        color: var(--ion-color-tertiary);
    }
    .subtitle{
        margin-bottom: 1.5rem;
        color: var(--ion-color-primary-tint);
    }
    .send-email{
        display: flex;
        app-input{
            flex: 1;
            width: 100%;
        }
        ion-button{
            margin-left: 2rem;
            @include ion-button-style('tertiary');
            ion-icon{
                margin-right: 0.5rem;
            }
        }
    }
}

