@import 'mixins';
:host {
  --buttons-padding: 0rem 2rem 0rem 2rem;
  .button-container {
    padding: var(--buttons-padding);
    display: flex;
    width: 100%;
    ion-button {
      flex: 1;
      &:first-child:not(.alone) {
        margin-right: 0.5rem;
      }
      &:last-child:not(.alone) {
        margin-left: 0.5rem;
      }
      &.primary {
        @include ion-button-style('primary', 'shade');
        &.fill {
          @include ion-button-style('primary');
        }
      }
      &.secondary {
        @include ion-button-style('secondary', 'shade');
        &.fill {
          @include ion-button-style('secondary');
        }
      }
      &.tertiary {
        @include ion-button-style('tertiary', 'shade');
        &.fill {
          @include ion-button-style('tertiary');
        }
      }
      &.danger {
        @include ion-button-style('danger', 'shade');
        &.fill {
          @include ion-button-style('danger');
        }
      }
    }
  }
}
