@import "mixins";
:host {
  padding: 2rem 2rem 1rem 2rem;
  .button-container {
    display: flex;
    width: 100%;
    ion-button {
      flex: 1;
      margin-top: 0.5rem;
      &:first-child:not(.alone) {
        margin-right: 0.5rem;
      }
      &:last-child:not(.alone) {
        margin-left: 0.5rem;
      }
      &.primary {
        @include ion-button-style("primary", "shade");
        &.fill {
          @include ion-button-style("primary");
        }
      }
      &.secondary {
        @include ion-button-style("secondary", "shade");
        &.fill {
          @include ion-button-style("secondary");
        }
      }
      &.tertiary {
        @include ion-button-style("tertiary", "shade");
        &.fill {
          @include ion-button-style("tertiary");
        }
      }
      &.danger {
        @include ion-button-style("danger", "shade");
        &.fill {
          @include ion-button-style("danger");
        }
      }
    }
  }
}
