<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="admin"
        text=""
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-container">
    <div class="toolbar">
      <div class="logo-container">
        <img src="../../../../assets/images/ethos.svg" />
      </div>
    </div>
    <div class="content-container">
      <app-user-card [user]="currentUser"></app-user-card>
    </div>
  </div>
</ion-content>
