:host {
  --line-color: var(--ion-color-secondary);
  --internal-padding: 8px;
  display: block;
  margin-bottom: 2rem;
  ion-label {
    display: flex;
    align-items: flex-start;
    color: var(--ion-color-secondary);
    margin-bottom: 0.25rem;
    ion-icon {
      margin-right: 0.5rem;
      flex: 0 0 1rem;
    }
    span {
      margin-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .form-field-container {
    background: white no-repeat;
    background-image: linear-gradient(
        to bottom,
        var(--line-color),
        var(--line-color)
      ),
      linear-gradient(
        to bottom,
        var(--ion-color-medium),
        var(--ion-color-medium)
      );
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--internal-padding);
  }
  &.input-focused,
  &.error {
    .form-field-container {
      background-size: 100% 2px, 100% 1px;
      outline: none;
      ion-icon {
        color: var(--line-color);
      }
    }
    .error-message {
      color: var(--ion-color-danger);
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }

  ion-item {
    --highlight-background: var(--ion-color-secondary);
  }
}
