<div class="page">
  <ion-icon [name]="icon"></ion-icon>
  <input
    class="input"
    *ngIf="!multiline && !isSpecialType"
    (keyup)="changeValue($event)"
    [placeholder]="placeholder"
    [name]="name"
    [type]="type"
    [value]="value"
    (focus)="changeFocus(true)"
    (blur)="changeFocus(false)"
  />
  <textarea
    class="input"
    *ngIf="multiline && !isSpecialType"
    (keyup)="changeValue($event)"
    [placeholder]="placeholder"
    [name]="name"
    rows="3"
    [value]="value"
    (focus)="changeFocus(true)"
    (blur)="changeFocus(false)"
  ></textarea>
  <ion-datetime
    *ngIf="isSpecialType && (type === 'time' || type === 'date')"
    class="input datetime"
    [displayFormat]="format"
    [placeholder]="placeholder"
    [name]="name"
    [value]="value"
    (ionChange)="changeValue($event)"
    (ionFocus)="changeFocus(true)"
    (ionBlur)="changeFocus(false)"
  >
  </ion-datetime>
  <ion-icon
    class="show-password"
    *ngIf="type === 'password' || (type === 'text' && showPassword)"
    [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
    (click)="changeShowPassword()"
  ></ion-icon>
</div>
<div *ngIf="showError" class="error-message" [innerHTML]="errorMessage"></div>
